.actionable {
  margin: 0;
  width: 60%;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 4px;
  @include box-shadow(0 0 5px #aaa);

  .actionable-header {
    padding: 10px 15px 5px;
    border-bottom: inset 2px solid #ccc;

    h2, h3, h4 {
      margin: 0;
    }
  }

  .actionable-body {
    padding: 5px 15px 5px;
  }

  .actionable-footer {
    padding: 5px 15px 10px;
  }
}
