p {
  margin: 0.4em 0;
}

a, a:visited {
  color: #4191cd;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.empty {
  display: none;
}

.empty-message {
  font-size: 24px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
}

td, th {
  padding: 8px;
}

tr {
  th:first-child, td:first-child {
    padding-left: 8px;
  }
}

tr {
  th:last-child, td:last-child {
    padding-right: 8px;
  }
}

td.align-center {
  text-align: center;
}

.table-striped {
  tr {
    border: 1px solid #ddd;
  }

  thead tr, tbody tr:nth-child(even) {
    background-color: #F8F8F8;
  }
}

.close {
  cursor: pointer;
  text-indent: 100%;
  width: 18px;
  height: 18px;
  background: image-url('x.svg') no-repeat;
  background-size: 17px 18px;
}
