$input-width: 250px;
$input-margin: 5px 0 10px;

@mixin user-search($label-width: 200px) {
  label {
    width: $label-width;
    display: inline-block;
  }

  input {
    width: 310px;
    height: 35px;
  }
}

.inputs {
  .input {
    width: 230px;
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
  }

  button, .button {
    display: inline-block;
  }
}

.input {
  width: $input-width;
}

.inline-inputs .input {
  width: auto;
}

.input {
  margin: $input-margin;

  label {
    display: block;
  }

  &.boolean label {
    display: inline;
  }

  .hint, .error {
    font-size: 14px;
    color: gray;

    &.error {
      color: red;
    }
  }
}

.inline-input {
  width: auto;

  label {
    width: 130px;
    display: inline-block;
  }

  input {
    margin-left: -4px;
  }

  .hint, .error {
    margin-left: 130px;
  }
}

#{$all-text-inputs}, textarea {
  width: 230px;
  border: 1px solid #b2b2b2;
  padding: 5px;
  outline: none;
  @include box-sizing(border-box);
  border-radius: 4px;
  @include box-shadow(inset 0 2px 2px #bbb);
  @include transition;

  & ~ label {
    width: 230px;
  }

  &:hover, &:focus, &:disabled {
    @include box-shadow(inset 0 1px 3px #aaa);
  }

  &:focus {
    border-color: #444;
  }

  &:disabled {
    @include box-shadow(none);
  }
}

input[type=number] {
  width: 50px;
  text-align: right;
}

input[type=checkbox], input[type=radio] {
  & + label {
    display: inline-block;
  }
}

.button {
  color: #000 !important;
  padding: 5px 6px;
  border: 1px solid #999;
  font-size: 14px;
  border-radius: 2px;
  @include linear-gradient(#eee, #ccc);
  @include transition(box-shadow);

  &:active {
    @include linear-gradient(#c9c3c3, #eee);
  }

  &:hover {
    @include box-shadow(0 0 2px #999);
    text-decoration: none;
  }
}

.link-button {
  border: none;
}

.field_with_errors {
  input, select {
    border: 1px solid red !important;
  }
}

.button_to {
  display: inline-block;
}
