* {
  @include box-sizing(border-box);
}

body {
  font-family: $helvetica;
}

.inside {
  width: 900px;
  margin:0 auto;
}

.header {
  background: #eee;
  border-bottom: 2px solid #ccc;

  #logo {
    padding-top: 2px;
    background: image-url('logo.png') no-repeat;
    width: 400px;
    height: 80px;
  }

  #session {
    padding-top: 10px;
    float: right;
  }
}

.header, .primary-nav {
  a, a:visited {
    color: #000;
  }
}

.primary-nav {
  padding: 8px 0;

  a {
    padding: 0 10px;
    border-left: 2px solid #ccc;
    position: relative;

    &:first-child {
      border: none;
    }
  }
}
