* {
  @include box-sizing(border-box);
}

body {
  font-family: $helvetica;
}

.container > .ember-view, .inside {
  width: 900px;
  margin: 0 auto;
}

.header {
  background: #eee;
  border-bottom: 2px solid #ccc;

  a, a:visited {
    color: #000;
  }
}

.navigation {
  padding: 12px 0;
}

.nav-group {
  margin: 0;
  padding: 0;
}

.nav-group-item {
  padding: 0 10px;
  border-left: 2px solid #ccc;
  display: inline-block;
  position: relative;
  text-indent: 2px;

  &:first-child {
    border: none;
    text-indent: 0px;
  }
}

.session-nav {
  float: right;
}
