.notices {
  margin-top: 20px;
  width: 600px;
  position: relative;

  .message {
    padding: 7px 35px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;

    &.error {
      background-color: #EF6262;
    }

    &.notice {
      background-color: #95cef4;
    }
  }

  .close-message {
    font-size: 13px;
    color: #000;
    position: absolute;
    top: 8px;
    right: 5px;
  }
}

