#notifications {
  width: 600px;
  position: relative;
  margin:0 auto;
  .message {
    padding:5px 35px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;

    &.error {
      background-color: #EF6262;
    }

    &.notice {
      background-color: #95cef4;
    }
  }

  .close-message {
    font-size: 13px;
    color: #000;
    position: absolute;
    top: 7px;
    right: 5px;
  }
}

