.pagination {
  margin: 20px 0;

  .page {
    padding: 0 4px;

    a {
      color: #B8B6B6;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  .prev, .next {
    margin: 0 5px;
  }

  .next, .prev, .first, .last {
    a {
      color: #000;
    }
  }
}
