.pagination {
  margin: 14px 0;
  position: relative;

  .pages {
    width: 100%;
    text-align: center;
  }

  .direction {
    position: absolute;
  }

  .direction-back {
    left: 0px;
  }

  .direction-forward {
    right: 0px;
  }
}
