.autocomplete-search {
  position: relative;

  .fetching-users {
    position: absolute;
    top: 17px;
    right: 15px;
  }

  .autocomplete-close {
    display: none;
    opacity: 0.5;
    position: absolute;
    top: 8px;
    right: 5px;

    &.open {
      display: block;
    }

    &:hover {
      opacity: 1;
    }
  }

  .autocomplete-results {
    z-index: 10;
    background-color: #fff;
    padding: 0;
    margin: 0;
    @include box-shadow(0 0 5px #000);
    border-radius: 5px;

    .autocomplete-result {
      font-size: 18px;
      list-style: none;
      padding: 5px;
      width: 310px;

      &.selected {
        background-color: #acdaf9;
        cursor: pointer;
        border-radius: 5px;
      }
    }

    .result-details, .autocomplete-close {
      font-size: 13px;
    }
  }

  .empty-autocomplete-results {
    text-align: center;
    padding: 10px;
    width: 310px;
  }
}
