.autocomplete-search {

  .autocomplete-close {
    display: none;

    &.open {
      display: inline-block;
      cursor: pointer;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin-left: -25px;
      width: 18px;
      height: 18px;
      background: image-url('x.svg') no-repeat;
      background-size: 18px 18px;
      opacity: 0.5;

      @include border-radius(50%);
    }
  }

  .autocomplete-results {
    z-index: 10;
    background-color: #fff;
    padding: 0;
    margin: 0;
    @include box-shadow(0 0 5px #000);
    @include border-radius(5px);

    .autocomplete-result {
      font-size: 18px;
      list-style: none;
      padding: 5px;
      width: 310px;

      &.selected {
        background-color: #acdaf9;
        cursor: pointer;
        @include border-radius(3px);
      }
    }

    .result-details, .autocomplete-close {
      font-size: 13px;
    }
  }

  .empty-autocomplete-results {
    text-align: center;
    padding: 10px;
    width: 310px;
  }
}
