%li.delivery-summary{ data: { resource: :delivery } }
  .delivery-summary-company-with-time
    %span
      %strong= delivery.deliverer
      %div= human_attribute_name delivery, :package_count, count: delivery.package_count

    %span
      = l delivery.created_at, format: "%l:%M %P"

  %div
    = human_attribute_name delivery, :received_by, name: delivery.user.name

