- content_for :title do
  Deliveries

%h2.current-date= text_field_tag :delivered_on, current_date, disabled: true

%button.prev Previous Day
%button.next Next Day

%table.deliveries{ data: { collection: :deliveries } }
  %thead
    %tr
      %th.delivered-at Delivered At
      %th.received-by Received By
      %th.delivered-by Delivered By
      %th.package-count Total Packages
  %tbody.empty
    %tr
      %td.empty-message{ colspan: 4 } No Deliveries

= bootstrap_collection
