- content_for :title do
  New Delivery

= simple_form_for resource, remote: true, html: { data: { type: 'json' }, class: 'new-delivery' } do |f|
  .inputs.inline-inputs
    = f.input :deliverer, label: 'Delivery Company', as: :select, collection: Delivery::Deliverers

  %table.receipts
    %thead
      %tr
        %th Recipient
        %th Number of Packages
        %th Comment
        %th
    %tbody{ data: { collection: :receipts } }
    %tfoot
      %tr
        %td
        %td= f.button :submit, value: 'Send Notifications'
        %td= link_to 'Cancel', 'javascript:void(0)', data: { cancel: true }
        %td
