.radio,
.checkbox {
  margin-right: $spacing-small;
}

.radio:nth-child(2) {
  &,
  & + .radio:last-child {
    display: inline-block;
  }
}

.input-wrapper {
  margin-bottom: $spacing-default;
}

.inline-input-wrapper {
  margin-bottom: $spacing-small;

  @media (min-width: $screen-size-medium) {
    @include clearfix;

    > label {
      float: left;
      margin-top: $spacing-micro;
      width: 50%;
    }

    select {
      margin-top: 8px;
      width: 100%;
    }

    .inline-input-controls {
      float: right;
      width: 50%;
    }

    .radio,
    .checkbox {
      // Overrides `display: inline-block` for when there are only 2 children
      display: block;
    }
  }
}

.input-hint,
.input-error {
  font-size: 0.875em;
}

.input-error {
  color: $colors-alert;
}

.btn-input-group {
  @media (min-width: $screen-size-medium) {
    text-align: right;

    %anchor {
      padding-top: $spacing-small;
    }
  }

  .btn,
  %anchor {
    @media (max-width: $screen-size-medium-less-one) {
      display: block;
      margin-top: $spacing-default;
      width: 100%;
    }
  }

  a {
    display: inline-block;
    line-height: 1;
  }
}
