.left {
  float: left;
}

.right {
  float: right;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.clear-right {
  clear: right;
  padding-top: $spacing-small;
}
