@mixin accessible-hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none;
}

.accessibly-hidden {
  @include accessible-hide;
}
