<label for="user-search">Search for a user</label>
{{view view.searchField}}
{{view view.closeSearch}}
{{view Besko.LoadingAnimation isVisibleBinding="fetchingUsers" classNames="fetching-users"}}
{{view view.resultSet}}
