<label for="autocomplete-search">Search for a user</label>
{{view view.searchField}}
{{view view.closeSearch}}
{{view Besko.LoadingAnimation isVisibleBinding="autocompleteSearching" classNames="autocomplete-fetching"}}
{{view view.resultSet}}
