.deliveries-pagination {
  margin: $spacing-micro 0;

  @media (max-width: $screen-size-small) {
    margin-left: -$spacing-small;
    margin-right: -$spacing-small;
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: $screen-size-small-plus-one) {
      justify-content: flex-end;
    }
  }

  li {
    &:not(:last-child) {
      border-right: $border-defaults;
    }

    @media (max-width: $screen-size-small) {
      flex-basis: 33%;
    }
  }
}

.deliveries-pagination-week {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $spacing-micro;

  @media (max-width: $screen-size-small) {
    font-size: 0.9em;
    letter-spacing: -1.3px;
    text-align: center;
  }

  @media (min-width: $screen-size-small-plus-one) {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
}

@media (min-width: $screen-size-small-plus-one) {
  .deliveries-pagination-prev-week {
    &::before,
    &::after {
      @include triangle($direction: left, $width: 0.526rem, $height: 0.947rem, $color: $font-color-body)
      content: "";
    }

    &::before {
      border-right-color: $background-color-viewport;
      margin-right: 5px;
      order: -1;
    }

    &::after {
      margin-right: -8px;
      order: -2;
    }
  }

  .deliveries-pagination-next-week {
    &::before,
    &::after {
      @include triangle($direction: right, $width: 0.526rem, $height: 0.947rem, $color: $font-color-body)
      content: "";
    }

    &::before {
      margin-left: 7px;
      order: 2;
    }

    &::after {
      border-left-color: $background-color-viewport;
      margin-left: -12px;
      order: 3;
    }
  }
}

.deliveries-day-group {
  @media (max-width: $screen-size-small) {
    margin: 0 (-1 * $spacing-small);
  }
}

.deliveries-day-group-label {
  display: block;
  background-color: $light-gray;
  padding: $spacing-micro / 2 $spacing-micro;
}

.delivery-summary {
  padding: $spacing-small;

  &:not(:last-child) {
    border-bottom: $border-defaults;
  }
}

.delivery-summary-company-with-time {
  align-items: start;
  display: flex;
  justify-content: space-between;
}
