.current-date {
  position: relative;

  .open-calendar {
    position: absolute;
    left: 0;
  }

  input {
    margin-left: 80px;
    padding: 0;
    font-weight: 700;
    border: none;
    outline: none;
    color: #000;

    @include transition(none);
  }
}

.delivery-pagination {
  height: 35px;
  position: relative;

  .button {
    position: absolute;
  }

  .prev-deliveries-date {
    left: 0;
  }

  .next-deliveries-date {
    right: 0;
  }
}

.deliveries-listing {
  width: 100%;

  th {
    text-align: left;
  }

  .sortable-column {
    position: relative;
  }

  .sort-column {
    color: #000;
    text-decoration: underline;

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 10px;

      @include triangle(15px, #000, down);
    }

    &.up:after {
      top: 8px;
      @include triangle(15px, #000, up);
    }
  }

  .delivered-at {
    text-align: center;
    width: 150px;
  }

  .received-by {
    width: 250px;
  }

  .delivered-by {
    width: 165px;
  }

  th.package-count, .package-count {
    text-align: center;
  }

  .package-count {
    width: 185px;
  }

  .delete-delivery {
    display: none;
  }
}

body.admin .deliveries-listing .delete-delivery {
  display: inline-block;
}
