.deliveries-index {
  h2.current-date {
    position: relative;

    button {
      position: absolute;
      left: 0;
    }

    .hasDatepicker {
      margin-left: 80px;
      font-weight: 700;
      border: none;
      outline: none;
      color: #000;
      width: 600px;

      @include transition(none);
    }
  }

  table.deliveries {

    th {
      text-align: left;
    }

    .delivered-at {
      width: 150px;
    }

    .received-by {
      width: 250px;
    }

    .delivered-by {
      width: 350px;
    }

    .package-count {
      text-align: center;
    }

    tbody.delivery {
      cursor: pointer;

      &:hover {
        background-color: #acdaf9;
      }

      tr.delivery-details {
        td {
          &:first-child {
            @include border-top-left-radius(5px);
          }

          &:last-child {
            @include border-top-right-radius(5px);
          }
        }
      }

      &:not(.open) {
        .delivery-details {
          td {
            &:first-child {
              @include border-bottom-left-radius(5px);
            }

            &:last-child {
              @include border-bottom-right-radius(5px);
            }
          }
        }
      }
    }

    tr.receipt-details {
      display: none;
      font-size: 14px;
      @include border-bottom-radius(3px);

      &:last-child td {
        &:first-child {
          @include border-bottom-left-radius(5px);
        }

        &:last-child {
          @include border-bottom-right-radius(5px);
        }
      }
    }
  }
}
