.deliveries-listing {
  width: 100%;

  thead {
    background-color: #F8F8F8;
  }

  thead, tbody {
    border: 1px solid #DDD;
  }

  th {
    text-align: left;
  }

  .sortable-column {
    position: relative;
  }

  .sort-column {
    color: #000;
    text-decoration: underline;

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 10px;

      @include triangle(15px, #000, down);
    }

    &.up:after {
      top: 8px;
      @include triangle(15px, #000, up);
    }
  }

  .delivered-at {
    text-align: center;
    width: 150px;
  }

  .received-by {
    width: 250px;
  }

  .delivered-by {
    width: 165px;
  }

  th.package-count, .package-count {
    text-align: center;
  }

  .package-count {
    width: 185px;
  }

  .delete-delivery {
    display: none;
  }

  .delivery-receipt-details td {
    padding-top: 0;
    vertical-align: top;
  }

  .delivery-signed-out-receipt {
    display: none;
  }
}

body.admin .deliveries-listing .delete-delivery {
  display: inline-block;
}
