.new-delivery {
  &.open .receipts {
    display: table;
  }

  .inline-inputs {
    width: 620px;
    margin: 0 auto;
    @include user-search(150px);

    .error, .hint {
      margin-left: 150px;
    }
  }

  .autocomplete-input {
    margin-left: -4px;
  }

  .autocomplete-input-wrapper {
    display: inline;
  }

  .autocomplete-fetching {
    top: 12px;
  }

  .autocomplete-close {
    top: 3px;
  }

  .autocomplete-results {
    margin-left: 150px;
  }

  table.receipts {
    display: none;
    padding: 0;

    td {
      text-align: center;
      width: 250px;

      &:first-child, &:last-child {
        width: 200px;
      }
    }

    &.open {
      display: table;
    }
  }
}
