.log-delivery {
  margin: 0 auto;

  @media (min-width: $screen-size-medium) {
    max-width: 70%;
  }
}

.log-delivery-receipt {
  margin-top: $spacing-large;

  @media (min-width: $screen-size-medium) {
    padding-left: $spacing-small;
  }

  legend {
    margin-bottom: $spacing-micro;

    @media (min-width: $screen-size-medium) {
      margin-left: -$spacing-small;
    }
  }

  button {
    width: 100%;

    @media (min-width: $screen-size-medium) {
      margin-left: 50%;
      width: 50%;
    }
  }
}

.log-delivery-receipt-recipient {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-small;
}

.log-delivery-receipt-attributes {
  display: flex;
  padding-left: $spacing-default;
}

.btn-log-delivery {
  @media (max-width: $screen-size-medium-less-one) {
    width: 100%;
  }
}
