.new-delivery {

  section.inputs {
    width: 760px;
    margin: 0 auto;
    @include user-search(200px);

    // Fixes extra 4px whitespace from 'display: inline-block;'
    // on label element next to input
    input#user-search {
      margin-left: -4px;
    }

    .error, .hint {
      margin-left: 200px;
    }
  }

  table.receipts {
    padding: 0;

    thead, tfoot {
      display: none;
    }

    td {
      text-align: center;
      width: 200px;

      &:first-child, &:last-child {
        width: 250px;
      }
    }
  }
}

.deliveries {
  h2.current-date {
    position: relative;

    button {
      position: absolute;
      left: 0;
    }

    .hasDatepicker {
      margin-left: 80px;
      font-weight: 700;
      border: none;
      outline: none;
      color: #000;
      width: 600px;
    }
  }

  tbody.delivery {
    cursor: pointer;

    &:hover {
      background-color: #acdaf9;
    }

    tr.delivery-details {
      td {
        &:first-child {
          @include border-top-left-radius(5px);
        }

        &:last-child {
          @include border-top-right-radius(5px);
        }
      }
    }

    &:not(.open) {
      .delivery-details {
        td {
          &:first-child {
            @include border-bottom-left-radius(5px);
          }

          &:last-child {
            @include border-bottom-right-radius(5px);
          }
        }
      }
    }
  }

  tr.receipt-details {
    display: none;
    font-size: 14px;
    @include border-bottom-radius(3px);

    &:last-child td {
      &:first-child {
        @include border-bottom-left-radius(5px);
      }

      &:last-child {
        @include border-bottom-right-radius(5px);
      }
    }
  }
}
