a, a:visited {
  color: #4191cd;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

td, th {
  padding: 10px;
}

table {
  .empty {
    display: none;
  }

  .empty-message {
    font-size: 24px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
  }
}
