#content
  %form#new_delivery
    .inputs.inline-inputs
      .input.select
        %select#delivery_deliverer
          %option
          %option One
          %option Two

    %table#receipts-attributes.receipts
      %thead
        %tr
          %th Recipient
          %th Number of Packages
          %th Comment
          %th
      %tbody{ data: { collection: :receipts } }
      %tfoot
        %tr
          %td
          %td
            %input{ type: :submit, value: 'Send Notifications' }
          %td
            %a{ href: 'javascript:void(0)', data: { cancel: true } }
          %td
