- content_for :title do
  Package Receipts

= render 'pagination'

%table
  %thead
    %tr
      %th Received By
      %th Number of Packages
      %th Received At
      %th Delivered By
      %th Comment
      %th
  %tbody{ data: { collection: :receipts} }
    = render partial: 'receipt', collection: collection
    - if collection.empty?
      %tr
        %td.empty-message{ colspan: 6 } You have no packages.

= render 'pagination'
