.user-roles, .add-role {
  float: left;
}

.add-role {
  padding: 10px 20px;
  background-color: #eee;

  border-radius: 4px;
  @include box-shadow(0 0 5px #aaa);

  h3 {
    margin-top: 0;
  }

  .input.select {
    margin-bottom: 20px;
  }

  .input.search {
    width: auto;
  }

  label.select {
    width: 50px;
  }
}

.user-roles {
  width: 600px;
  margin-left: 20px;
  display: none;

  &.open {
    display: table;
  }
}

.users-in-role {
  .user-role-name {
    width: 250px;
  }

  .date-added {
    width: 220px;
  }
}
