.add-role {
  width: 100%;

  .input {
    display: inline-block;
    vertical-align: middle;
  }

  .input.search {
    width: auto;

    @include user-search(125px);
  }

  label {
    display: inline;
  }
}

.user-roles {
  width: 600px;
  margin-left: 20px;
  display: none;

  &.open {
    display: table;
  }
}

.users-in-role {
  .user-role-name {
    width: 250px;
  }

  .date-added {
    width: 220px;
  }
}
